{
  "domain": "bla.nl",
  "server": "hercules",
  "privatekeypath": "full path including filename to private key",
  "accountname": "name of transip account",
  "timetolive": 300.
  "logfile": "./dyndns-transip.log"
}
